        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
         
        }
        
        .topnav {
            overflow: hidden;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .topnav a {
            float: left;
            display: block;
            color: rgb(48, 43, 43);
            padding: 14px 16px;
            text-decoration: none;
            font-size: 15px;
            padding-top: 40px;
        }
        
        .topnav .icon {
            display: none;
        }
        
        .dropdown {
            float: left;
        }
        
        .dropdown .dropbtn {
            font-size: 15px;
            border: none;
            outline: none;
            color: rgb(48, 43, 43);
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            padding-top: 40px;
        }
        
        .dropdown-content {
            display: none;
            position: fixed;
            border-top: 2px solid rgba(227, 34, 34, 255);
            background-color: rgb(48, 43, 43);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            float: none;
            color: white;
            padding: 12px 40px;
            text-decoration: none;
            display: block;
            text-align: left;
            font-size: 14px;
        }
        
        .topnav a:hover,
        .dropdown:hover .dropbtn {
            color: rgba(227, 34, 34, 255)
        }
        
        .dropdown-content a:hover {
            background-color: white;
            color: rgba(227, 34, 34, 255)
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        @media screen and (max-width: 768px) {
            .topnav a:not(:first-child),
            .dropdown .dropbtn {
                display: none;
            }
            .topnav a.icon {
                float: right;
                display: block;
            }
        }
        
        @media screen and (max-width: 768px) {
            .topnav.responsive {
                position: relative;
            }
            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
            .topnav.responsive .dropdown {
                float: none;
            }
            .topnav.responsive .dropdown-content {
                position: relative;
            }
            .topnav.responsive .dropdown .dropbtn {
                display: block;
                width: 100%;
                text-align: left;
            }
        }
        
        .icons {
            display: flex;
            color: rgb(48, 43, 43);
        }
        
        .icons i:hover {
            color: red;
        }
        
        .icons1 {
            margin-left: 55px;
            margin-top: 42px;
            font-size: 13px;
        }
        
        .icons2 {
            margin-top: 35px;
        }
        
        .icons2 i {
            background-color: rgb(48, 43, 43);
            border: none;
            border-radius: 100%;
            padding: 7px;
            color: white;
            font-size: 15px;
        }
        
        .icons2 i:hover {
            background-color: rgba(227, 34, 34, 255);
            color: white;
        }
        
        .icons3 {
            border-left: 1px solid rgba(48, 43, 43, 0.418);
            margin-top: 35px;
           
        }

          #myInput1 {
            box-sizing: border-box;
            font-size: 12px;
            padding: 5px 5px 5px 5px;
            border: none;
           
          }
          
          
          
          .icons3 {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content1 {
            display: none;
            position: absolute;
            margin-top: 5px;
            min-width: 130px;
            overflow: auto;
         
            z-index: 1;
          }
          
          
          
          
          .show {display: block;}
          
        .icons3 i {
            margin-left: 25px;
            font-size: 15px;
            border: none;
            border-radius: 100%;
            padding: 7px;
            background-color: rgb(48, 43, 43);
            color: white;
            position: relative;
        }
        
        .icons3 i:hover {
            background-color: rgba(227, 34, 34, 255);
            color: white;
        }
        
        .caption1 {
            top: 27%;
            left: 57%;
            text-align: center;
        }
        
        .caption1 h3 {
            color: rgb(48, 43, 43);
            border-top: 3px solid rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 520;
            font-size: 3.5vw;
        }
        
        .caption1 p {
            color: rgba(48, 43, 43, 0.795);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .caption1 button {
            border: 1px solid rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px 15px;
            font-weight: 300;
            color: rgb(48, 43, 43);
            background-color: rgba(255, 255, 255, 0);
        }
        
        .caption1 button:hover {
            color: white;
            background-color: rgba(227, 34, 34, 255);
        }
        
        .caption2 {
            top: 20%;
            right: 60%;
            text-align: center;
        }
        
        .caption2 h3 {
            color: rgb(48, 43, 43);
            border-top: 3px solid rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 520;
            font-size: 3.5vw;
        }
        
        .caption2 p {
            color: rgba(48, 43, 43, 0.795);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .caption2 button {
            border: 1px solid rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px 15px;
            font-weight: 300;
            color: rgb(48, 43, 43);
            background-color: rgba(255, 255, 255, 0);
        }
        
        .caption2 button:hover {
            color: white;
            background-color: rgba(227, 34, 34, 255);
        }
        
        .caption3 {
            top: 20%;
            right: 60%;
            text-align: center;
        }
        
        .caption3 h3 {
            color: white;
            border-top: 3px solid rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 520;
            font-size: 3.5vw;
            background-color: rgba(48, 43, 43, 0.253);
            text-shadow: 2px 2px black;
        }
        
        .caption3 p {
            color: white;
            background-color: rgba(48, 43, 43, 0.253);
            text-shadow: 2px 2px black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .caption3 button {
            border: 1px solid rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px 15px;
            font-weight: 300;
            color: rgb(48, 43, 43);
            background-color: white;
        }
        
        .caption3 button:hover {
            color: white;
            background-color: rgba(227, 34, 34, 255);
        }
        
       
        @media only screen and (max-width: 768px) {

            .sec1-head-h3 h3 {
              display: none;
               
               
            }
        }
        
        .sec1 {
            padding-top: 60px;
            padding-bottom: 60px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec1-head {
            text-align: center;
            justify-content: center;
            align-items: center;
            
        }
        
        .sec1-head h5 {
            color: rgba(227, 34, 34, 255);
        }
        
       
        .sec1-head h3 {
            font-size: 3vw;
           
            margin-left: auto;
            margin-right: auto;
            color: rgb(48, 43, 43);
            font-weight: 400;
          
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec1-body {
            display: flex;
            padding-top: 60px;
            align-items: center;
            justify-content: center;
        }
        
        .sec1div {
            max-width: 400px;
        }
        
        .sec1div i {
            color: rgba(227, 34, 34, 255);
            font-size: 60px;
            margin-bottom: 20px;
        }
        
        .sec1div p {
            color: rgba(48, 43, 43, 0.795);
        }
        
        .sec2part1 {
            position: absolute;
            left: 0%;
            z-index: 1;
            margin-left: 90px;
            width: 680px;
        }
        
        .sec2 {
            margin-bottom: 100px;
        }
        
        .sec2 h5 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec2 h3 {
            font-size: 47px;
            color: rgb(48, 43, 43);
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec2-head {
            margin-bottom: 30px;
        }
        
        .sec2-body {
            background-color: rgba(227, 34, 34, 255);
            padding-left: 55px;
            padding-top: 50px;
            padding-right: 20px;
            padding-bottom: 30px;
        }
        
        .sec2-body h4 {
            color: white;
            font-size: 35px;
            padding-bottom: 40px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec2 img {
            height: 500px;
            position: relative;
            left: 43%;
        }
        
        .sec2 h6 {
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .hr-1 {
            color: white;
            width: 370px;
            height: 12px;
            opacity: 5;
        }
        
        .hr-2 {
            color: white;
            width: 355px;
            height: 12px;
            opacity: 5;
            margin-bottom: 30px;
        }
        
        .hr-3 {
            color: white;
            width: 365px;
            height: 12px;
            opacity: 5;
        }
        
        .sec2 p {
            color: white;
            padding-bottom: 10px;
            width: 550px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        

        @media (max-width: 768px) {
            .sec5part1 h3 {
            max-width: 250px;
            }

            .sec8 {
               display: none;
            }

            .sec3b p {
                max-width: 250px;
            }

            .sec3a h3 {
                max-width: fit-content;
            }
        }
        .sec3 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            gap: 80px;
            padding-bottom: 100px;
        }
        
        .sec3 h5 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec3 h3 {
            font-size: 3vh;
            width: 400px;
            color: rgb(48, 43, 43);
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec3 p {
            width: 600px;
            color: rgba(48, 43, 43, 0.795);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec3 button {
            border: 1px solid rgba(48, 43, 43, 0.795);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px 15px;
            font-weight: 300;
            background-color: white;
            color: rgba(48, 43, 43, 0.795);
        }
        
        .sec3 button:hover {
            color: white;
            background-color: rgba(48, 43, 43, 0.795);
            ;
        }
        
        .sec4 {
            display: flex;
            gap: 5px;
            justify-content: center;
            align-items: center;
        }
        
        .sec4 img {
            height: 300px;
        }
        
        .sec4a {
            position: relative;
        }
        
        .image {
            display: block;
            width: 100%;
            height: auto;
        }
        
        .overlay {
            position: absolute;
            bottom: 0;
            left: 10%;
            bottom: 10%;
            background-color: white;
            overflow: hidden;
            width: 80%;
            height: 0;
            transition: .5s ease;
        }
        
        .sec4a:hover .overlay {
            height: 50%;
        }
        
        .text {
            color: rgba(48, 43, 43, 0.795);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .text h4 {
            font-size: 19px;
            line-height: 30px;
        }
        
        .text h4:hover {
            color: rgba(227, 34, 34, 255);
        }
        
        .text a {
            text-decoration: none;
            color: rgba(48, 43, 43, 0.795);
            font-size: 13px;
        }
        
        .sec4b {
            position: relative;
        }
        
        .sec4b:hover .overlay {
            height: 50%;
        }
        
        .sec4c {
            position: relative;
        }
        
        .sec4c:hover .overlay {
            height: 50%;
        }
        
        .sec4d {
            position: relative;
        }
        
        .sec4d:hover .overlay {
            height: 50%;
        }
        
        .sec4e {
            position: relative;
        }
        
        .sec4e:hover .overlay {
            height: 50%;
        }
        
        .sec5 {
            padding-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            padding-bottom: 100px;
        }
        
        .sec5 h5 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec5 h3 {
            font-size: 4vh;
            color: rgb(48, 43, 43);
            font-weight: 400;
            width: 400px;
            margin-bottom: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec5part2 {
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;
        }
        
        .sec5part2 h5 {
            color: rgb(48, 43, 43);
            margin-top: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec5 p {
            color: rgba(48, 43, 43, 0.795);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec5a {
            width: 300px;
        }
        
        .sec5 i {
            font-size: 50px;
            color: rgba(227, 34, 34, 255);
        }
        
        .sec5 button {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px 15px;
            font-weight: 300;
            background-color: rgba(227, 34, 34, 255);
            color: white;
            border: 2px solid rgba(227, 34, 34, 255);
        }
        
        .sec5 button:hover {
            color: white;
            background-color: rgba(48, 43, 43, 0.795);
            border: 2px solid rgba(48, 43, 43, 0.795);
        }
        
        .sec5a1 {
            display: flex;
            gap: 30px;
        }
        
        .sec6 img {
            width: 100%;
            position: relative;
        }
        
        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 20px;
            margin-bottom: 10px;
            border: 2px solid white;
            border-radius: 4px;
            resize: vertical;
            background-color: rgba(48, 43, 43, 0.795);
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        
        input[type=submit] {
            background-color: rgba(227, 34, 34, 255);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
            margin-top: 30px;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        input[type=submit]:hover {
            background-color: white;
            color: rgba(48, 43, 43, 0.795);
        }
        
        .sec6part1 {
            border-radius: 5px;
            padding-left: 20px;
            background-color: rgba(48, 43, 43, 0.795);
            padding: 20px;
            width: 40%;
            position: absolute;
            top: 490%;
            left: 3%;
        }
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        
        @media screen and (max-width: 768px) {
            .col-25,
            .col-75,
            input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }
        
        .sec6part1 h5 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec6part1 h3 {
            font-size: 3vw;
            color: white;
            font-weight: 400;
            margin-bottom: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec7 {
            padding-bottom: 50px;
        }
        
        .sec7body {
            display: grid;
            grid-template-columns: auto auto auto auto;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        
        .sec7a {
            position: relative;
            width: 300px;
        }
        
        .image1 {
            display: block;
            width: 100%;
            height: auto;
        }
        
        .overlay1 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(255, 255, 255, 0.651);
        }
        
        .sec7a:hover .overlay1 {
            opacity: 1;
        }
        
        .text1 {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .sec7head {
            text-align: center;
            padding-top: 80px;
        }
        
        .sec7head h5 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec7head h3 {
            font-size: 40px;
            color: rgba(48, 43, 43, 0.795);
            font-weight: 400;
            margin-bottom: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec7body h5 {
            color: rgb(48, 43, 43);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec7body h6 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec7-icon {
            text-align: center;
            letter-spacing: 10px;
            margin-top: 20px;
        }
        
        .sec7-icon i {
            color: rgba(48, 43, 43, 0.795);
        }
        
        .sec7-icon i:hover {
            color: rgba(227, 34, 34, 255);
        }
        
        .sec8 {
            background-color: rgba(128, 128, 128, 0.11);
            padding-bottom: 180px;
        }
        
        .sec8head {
            padding-top: 60px;
            text-align: center;
        }
        
        .sec8head h5 {
            color: rgba(227, 34, 34, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec8head h3 {
            font-size: 40px;
            color: rgba(48, 43, 43, 0.795);
            font-weight: 400;
            margin-bottom: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .sec8body {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        
        .sec8a {
            position: relative;
        }
        
        .sec8a-text {
            background-color: white;
            width: 550px;
            margin-left: 20px;
            position: absolute;
            top: 82%;
            padding-left: 40px;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        
        .sec8a img {
            height: 400px;
        }
        
        .sec8b img {
            height: 200px;
        }
        
        .sec8a h5 {
            color: white;
            background-color: rgba(227, 34, 34, 255);
            width: 100px;
            padding: 10px 10px;
            padding-left: 25px;
            font-size: 13px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec8b h5 {
            color: white;
            background-color: rgba(227, 34, 34, 255);
            width: 100px;
            padding: 10px 10px;
            padding-left: 25px;
            font-size: 13px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec8 h4 {
            color: rgb(48, 43, 43);
            font-size: 30px;
            margin-bottom: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec8a h4:hover {
            color: rgba(227, 34, 34, 255);
        }
        
        .sec8 a {
            text-decoration: none;
            font-size: 13px;
            color: rgba(48, 43, 43, 0.795);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .sec8 a:hover {
            color: rgba(227, 34, 34, 255);
        }
        
        .sec8b {
            width: 600px;
        }
        
        .sec8b1 {
            display: flex;
            background-color: white;
            padding-left: 20px;
            margin-bottom: 20px;
        }
        
        .sec8b2 {
            display: flex;
            background-color: white;
            padding-left: 20px;
        }
        
        .sec8b1a {
            padding-top: 30px;
        }
        
        .sec8b2a {
            padding-top: 30px;
        }
        
        .sub-container {
            background: none;
            width: 300px;
        }
        
        .sub-container input {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        .sub-container input[type=submit]:hover {
            opacity: 0.8;
        }
        
        .sec9 {
            background-color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(48, 43, 43);
        }
        
        .sec9a {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid rgb(48, 43, 43);
        }
        
        .sec9a i {
            color: rgba(227, 34, 34, 255);
            font-size: 50px;
        }
        
        .sec9a1 p {
            font-size: 18px;
        }
        
        .sec9b {
            display: flex;
            background-color: white;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 80px;
            padding-top: 80px;
        }
        
        .sec9b1 img {
            height: 50px;
            margin-bottom: 40px;
        }
        
        .sec9b1 p {
            /* width: 290px; */
            line-height: 25px;
        }
        
        .sec9b1 i {
            margin-right: 15px;
        }
        
        .sec9b1 i:hover {
            color: rgba(227, 34, 34, 255);
        }
        
        .sec9b2-hr {
            width: 40px;
            color: rgba(227, 34, 34, 255);
            opacity: 5;
        }
        
        .sec9b a {
            color: rgb(48, 43, 43);
            text-decoration: none;
        }
        
        .sec9b a:hover {
            color: rgba(227, 34, 34, 255);
        }
        
        .sec9b2 {
            line-height: 30px;
        }
        
        .sec9b3 {
            line-height: 30px;
        }
        
        .sec9b4 {
            margin-top: 26px;
        }
        
        .sec9b4 button {
            width: 100%;
            padding-top: 12px;
            padding-bottom: 12px;
            border: none;
            color: white;
            background-color: rgba(227, 34, 34, 255);
        }
        
        .sec9b4 button:hover {
            border: none;
            background-color: rgb(48, 43, 43);
        }
        
        footer {
            background-color: rgb(48, 43, 43);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            border-top: 1px solid white;
        }

        @media (min-width:320px) and (max-width: 768px) {
         
           .mylogo {
            max-height: 20px;
            margin-bottom: 70px;
           }
            .icons1 {
                display: flex;
            }
            .icons2 {
                display: none;
            }
            .icons3 {
                display: none;
            }
            .caption1 button {
                font-size: 10px;
            }
            .caption2 button {
                font-size: 10px;
            }
            .caption3 button {
                font-size: 10px;
            }
           .sec1-body {
            flex-direction: column;
            margin-left: 20px;
           }
           .sec1-head h3 {
            width: 270px;
            margin-left: 50px;
           
           }
           .sec2 {
            margin-bottom: 55rem;
           } 
           .sec2-head {
            margin-left: 20px;
           }
           .sec2part1{
        max-width: 100%;
        margin: auto;
  
           }
           .sec2 h6 {
            width: 200px;
           }

           .hr-1 {
            width: 180px;
           }
           .hr-2 {
            width: 200px;
           }
           .hr-3 {
            width: 190px;
           }
           .sec2 p {
            width: 250px;
           }
           .sec2part2 {
            display: none;
           }
            .sec3 {
                flex-direction: column;
                max-width: 100%;
            }
            .sec3 p {
                width: 350px;
            }
            .sec3 h3 {
                width: 350px;
            }
            .sec3a {
               
                max-width: 100%;
            }
            .sec3b {
              
                max-width: 100%; 
            }
            .sec4 {
                flex-direction: column;
                max-width: 400px;
               
            }
            .sec4a {
                margin-bottom: 30px;
            }
            .sec4b {
                margin-bottom: 30px;
            }
            .sec4c {
                margin-bottom: 30px;
            }
            .sec4d {
                margin-bottom: 30px;
            }
            .sec4e {
                margin-bottom: 30px;
            }
            .sec5 {
                flex-direction: column;
            }
            .sec5part1 {
                margin-left: 20px;
            }
            .sec5part1 h3 {
                width: 370px;
            }
            .sec5part2 {
                grid-template-columns: auto;
            }
            /* .sec6{
              padding-bottom: 150px;
            }
            input[type=text],
            select,
            textarea {
               padding: 5px;
            }

            .sec6part1 {
                top: 700%;
            } */

        .sec6 {
            display: none;
        }
            .sec7body {
                grid-template-columns: auto;
            }

            
          
            .sec8body {
                flex-direction: column;
                
            }
            .sec8a {
                margin-bottom: 150px;
            }
            .sec8a img {
                height: 250px;
            }

            .sec8a-text {
                max-width: 330px;

            }
          .sec8b {
            max-width: 100%;
          }  
            .sec8b1 {
                max-width: 380px;
                margin:auto;
                margin-bottom: 60px;
            }
            .sec8b2 {
                max-width: 380px;
                margin: auto;
            }
            .sec9a {
                flex-direction: column;
            }

            .sec9b {
                flex-direction: column;
            }

            .sec9b1 {
                margin-bottom: 50px;
                
            }
            .sec9b2 {
                margin-bottom: 50px;
               
                margin-left: 10px;
            }
            .sec9b3 {
                margin-bottom: 50px;
               
            }
            .sec9b4 {
                margin-bottom: 50px;
            }
        }

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            .topnav a:not(:first-child),
            .dropdown .dropbtn {
                display: none;
            }
            .topnav a.icon {
                float: right;
                display: block;
            }
        
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .topnav.responsive .dropdown {
            float: none;
        }
        .topnav.responsive .dropdown-content {
            position: relative;
        }
        .topnav.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
        

        .icons {
            padding-left: 100px;
        }
.sec1div {
  margin-left: 20px;
}
        .sec1div p {
            width: 200px;
        }

        .sec2 {
            margin-bottom: 600px;
            margin-right: 100px;
        }
        .sec2 img {
            display: none;
        
        }

        .sec3 {
            flex-direction: column;
        }

        .sec4 img {
            height: 200px;
        }

        .sec5 {
            flex-direction: column;
        }

        .sec6 {
            display: none;
        }

        .sec7body {
           grid-template-columns: auto auto;
        }
          .sec8body {
            flex-direction: column;
          }
          .sec8a {
            margin-bottom: 170px;
          }

          .sec8b1 {
            margin-bottom: 100px;
          }
            .sec9b {
                flex-direction: column;
            }

            .sec9b1 {
                margin-bottom: 50px;
                
               
            }
            .sec9b2 {
                margin-bottom: 50px;
                margin-left: 10px;
            }
            .sec9b3 {
                margin-bottom: 50px;

            }
            .sec9b4 {
                margin-bottom: 50px;
            }
        }

        @media (min-width: 1025px) and (max-width: 1350px) {
            .topnav a:not(:first-child),
            .dropdown .dropbtn {
                display: none;
            }
            .topnav a.icon {
                float: right;
                display: block;
            }
        
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .topnav.responsive .dropdown {
            float: none;
        }
        .topnav.responsive .dropdown-content {
            position: relative;
        }
        .topnav.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
          .icons {
            padding-left: 400px;
          }

          .sec2 img {
        height: 480px;
          }

          .sec6 {
            display: none;
          }
        }